body {
	background: #454545;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	font-size: 1em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1.45;
}

/* CHAT */

input {
	outline: none;
	font-size: 1rem;
	padding: 0 5px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid lightgrey;
	overflow-y: scroll;
}

li {
	padding: 10px 10px 10px 10px;
	margin: 8px;
	width: fit-content;
	background-color: #fffffff3;
	border-top: 4px solid #0d6efd;
	border-radius: 10px;
}

.controls-wrapper {
	background-color: #363636;
	width: 400px;
	border: 1px solid lightgrey;
	border-radius: 20px;
	overflow: hidden;
}

.chat-wrapper {
	padding: 10px;
}

.chat-wrapper form {
	display: flex;
}

.chat-wrapper form input {
	font-size: 1rem;
	margin: 0 10px 0 0;
	padding: 0 5px;
	flex-grow: 1;
}

.chat-wrapper form button {
	width: 80px;
}

#events {
	height: 450px;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

#events::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

/* ScoreBoard */

.s_bode {
	width: 400px;
	height: 500px;
	padding: 50px;
	display: flex;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	border: 1px solid lightgrey;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
}

.s_bode::-webkit-scrollbar {
	display: none;
}

.s_bode:after {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: -2;
	border-radius: 20px;
}

.s_bode:before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: -50%;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: -1;
	transform: skewX(-10deg);
}

.left_section {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mid_section {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 26px;
}

.right_section {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.s_bode h2 {
	margin-top: 10px;
	color: #0d6efd;
	font-size: 26px;
	font-weight: bold;
}

.s_bode p {
	margin-top: 5px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}

/* BUTONS */

#buttons-top {
	position: absolute;
	top: 10px;
	right: 10px;
}

#underBoard {
	display: flex;
	/* align-content: stretch; */
	justify-content: space-evenly;
	align-items: center;
}

#underBoard button {
	width: 80px;
	height: 50px;
}
.modal-footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.modal-footer button {
	width: 100%;
}

/* BOARD */

.board {
	max-width: 800px;
	margin: auto;
	margin-top: 10px;
	border-radius: 3px;
	border-left: 5px solid #aaa;
	border-bottom: 5px solid #656565;
	background: #fff;

	display: grid;
	grid-template-columns: repeat(15, 50px);
	grid-template-rows: repeat(15, 50px);
	grid-gap: 3px;
}

.grid-square {
	display: flex;
	justify-content: center;
	align-items: center;
	font: 700 10px "Helvetica";
	background: #efece1;
	text-align: center;
	box-shadow: inset 0 1px 5px -2px rgba(0, 0, 0, 0.2),
		inset 1px -2px 4px -1px rgba(0, 0, 0, 0.2);
}

.drag-over {
	border: #1fb504 3px dashed;
}

.hide {
	display: none;
}

.triple-word {
	background: #fe704d;
}

.double-word {
	background: rgba(254, 112, 77, 0.4);
}

.triple-letter {
	background: #0493b5;
}

.double-letter {
	background: rgba(4, 147, 181, 0.4);
}

.star-square {
	background: rgba(254, 112, 77, 0.4);
}

.fa-star {
	font-size: 25px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

#stand {
	display: flex;
	font-size: 1.5em;
	font-weight: 700;
}

.stand-background {
	display: flex;
	gap: 2px;
	padding: 5px;
	justify-content: center;
	align-items: center;
}

/*/////////////////// Tiles //////////////////////*/
.tile {
	position: relative;
	display: flex;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	font: 700 20px "Helvetica";
	background: #e8d280;
	text-align: center;
	box-shadow: inset 0 1px 5px -2px rgba(0, 0, 0, 0.2),
		inset 1px -2px 4px -1px rgba(0, 0, 0, 0.2);
	border-top: 3px solid rgb(207, 174, 123);
	border-left: 3px solid rgb(207, 174, 123);
	border-right: 3px solid #887a61;
	border-bottom: 3px solid #887a61;
	cursor: move;
}

.letter-weight {
	position: absolute;
	bottom: 0;
	right: 5px;
	font-size: 15px;
}
